<tr>
  <td><%= category.name %></td>
  <td><%= category.financial_type.humanize %></td>
  <td><%= category.user.full_name %></td>
  <td>
    <%= link_to "Edit", edit_admin_category_path(category), :class => 'btn btn-success btn-xs' %>
    <%= link_to "Remove", admin_category_path(category), :method => :delete, data: { :confirm => "Are you sure?" }, :class => 'btn btn-danger btn-xs' %>
  </td>
</tr>
