<!DOCTYPE html>
<html>
  <head>
    <title>Expensestrackerbot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='wrapper'>
      <%= render 'admin/shared/navigation' %>

      <%= render 'admin/shared/messages' %>
      <div id='page-wrapper'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
